@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;700&display=swap');

:root {
    --background: #24262E;
    --border: #292A35;
    --font-light: #CAC5CD;
    --font-dark: #24262D;
    --title: #FC4545;
    --main-button: #FC4545;
    --main-button-hover: #c53939;
    --tab:#E84445;
    --tab-hover:#b2383881;
    --tab-border:#24262E;
}
* {
    box-sizing: border-box;
    text-decoration: none;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
a:link, a:visited {
    text-decoration: none;
    color: var(--font-light);
}
body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: url('../images/background.jpg') no-repeat;
    background-size: cover;
    font-family: 'Oxanium', cursive;
}
ul {
    list-style: none;
}
button.main-button {
    background: var(--main-button);
    cursor: pointer;
}
button.main-button:hover {
    background: var(--main-button-hover);
}
button.main-button:active {
    background:var(--main-button-active);
}
.social a,
.user-field .user-button,
nav.menu {
    background-color: var(--background);
    opacity: 0.9;
    background-size: 7px 7px;
    background-image: repeating-linear-gradient(45deg, #272932 0, #272932 0.7000000000000001px, #24262E 0, #24262E 50%);
}
iframe {
    margin: 10px auto;
    display: block;
}
